/* Fonts */

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
       url('../fonts/cuprum-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v13-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'),
       url('../fonts/cuprum-v13-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v13-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'),
       url('../fonts/cuprum-v13-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v13-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'),
       url('../fonts/cuprum-v13-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v13-latin_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --basic-green: #63A63E;
  --light-green: #5FBB2D;
  --dark-green: #518534;
  --darken-green: #367315;

  --basic-red: #EE3643;
  --dark-red: #CA2C37;
  --darken-red: #BA2732;
  --extra-dark-red: #B52933;

  --basic-grey: #A9A9A9;
  --light-grey: #C5C5C5;
  --lighten-grey: #EAEAEA;
  --pale-grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #E5E5E5;
  --silver: #99a1ae;

  --light-blue: #F3F7F9;
  --lighten-blue: #F1F5F7;
  --dark-blue: #293449;
  --darken-blue: #32425C;
  --very-dark-blue: #161D29;
  --extra-dark-blue: #405069;
  --navy-blue: #1D2739;
  --light-navy-blue: #F2F6F8;
  --dark-navy-blue: #212A3A;

  --basic-yellow: #FFD180;
  --light-yellow: #F7F3EC;

  --promo-block-yellow: #FFBF47;
  --promo-block-dark-yellow: #FFC047;
  --promo-block-blue: #3BBCE3;
  --promo-block-pink: #DC91D8;
  --promo-block-green: #8ED78F;

  --promo-block-button: rgba(255,255,255,0.3);
  --promo-block-button-hover: rgba(197,197,197,0.3);
  --promo-block-button-click: rgba(169,169,169,0.3);

  --shadow-color: rgba(0, 0, 0, 0.15);

  --special-transparent: rgba(0, 0, 0, 0.0001);

  --beige: #F9F5F0;
}

/* Body */

.page-body {
  min-width: 940px;
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

.page ul {
  list-style: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Main navigation */

.main-header {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--light-blue);
  background-image: url("../img/top-background.png");
}

.top-menu {
  text-align: center;
  display: flex;
  margin-bottom: 46px;
}

.top-menu-bar,
.menu-item-search {
  background-color: var(--dark-blue);
}

.menu-item,
.menu-item-search,
.main-navigation-item {
  color: var(--basic-white);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--extra-dark-red);
  
}

.header-logo {
  padding: 12px 56px;
  width: 106.83px;
  height: 16.9px;
  /*padding-bottom: 17px;*/
}

.footer-logo {
  padding: 20px 41px;
  width: 138.23px;
  height: 23px;
}

.menu-item-bookmarks,
.menu-item-basket,
.menu-item-order {
  padding: 9px 0;
  width: 150px;
}

.menu-item-search {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-image: url("../img/icon-search.svg");
  outline: none;
  border: none;

  height: 42px;
  padding-left: 17px;
  flex-grow: 1;

}

.menu-item-search::placeholder {
  color: var(--basic-white);
}

.menu-item-search:focus {
  font-family: inherit;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.menu-item-bookmarks {
  background-image: url("../img/icon-bookmark.svg");
}

.menu-item-basket {
  background-image: url("../img/icon-cart.svg");
}

.menu-item-bookmarks:active,
.menu-item-basket:active,
.menu-item-order:active {
  color: var(--pale-grey);
}

.menu-item-bookmarks:active {
  background-color: var(--very-dark-blue);
}

.menu-item-order {
  background-color: var(--basic-green);
}

.menu-item-order:hover {
  background-color: var(--light-green);
}

.middle-menu {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.header-store-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);

  width: 200px;
  padding: 0;
  padding-left: 30px;
  margin: 0;
}

.header-contacts {
  width: 300px;
}

.header-contacts-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-color: var(--light-blue);
  border: 3px solid var(--basic-white);

  height: 45px;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  /*padding-top: 7px;
  padding-bottom: 8px;*/
  padding-right: 45px;
  padding-left: 74px;
  margin-bottom: 3px;
}

.header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--darken-blue);

  display: block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.account-links-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.account-link-item {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);

  display: block;
  padding: 12px 24px;
}

.account-link-item:hover {
  color: var(--basic-red);
}

.account-link-item:active {
  color: var(--light-grey);
}

.login-link {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}

.site-navigation {
  background-color: var(--darken-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
  display: flex;
  padding: 0 25px;
  margin: 0;
  margin-bottom: 60px;
  
}

.site-navigation-item {
  text-align: center;
  flex-grow: 1;

}

.main-navigation-item {
  padding: 16px 0;
  padding-bottom: 20px;
}

.site-navigation-item:hover {
  background-color: var(--dark-blue);
}

.site-navigation-item:active {
  background-color: var(--navy-blue);
}

.site-navigation-item:active {
  opacity: 0.5;
}

/* Promo-block */

.promo-block {
  margin: 59px 0;
}

.promo-block-list {
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.promo-block-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-block-item {
  background-repeat: no-repeat;
}

.promo-block-item-inscription {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--promo-block-button);
}

.promo-block-item-inscription:hover {
  background-color: var(--promo-block-button-hover);
}

.promo-block-item-inscription:active {
  background-color: var(--basic-grey);
}

.promo-block-item-materials {
  background-color: var(--promo-block-yellow);
  background-image: url(../img/materials.svg);
  background-size: 44px 65px;
}

.promo-block-item-tool {
  background-color: var(--promo-block-blue);
  background-image: url(../img/tool.svg);
  background-size: 75px 61px;
}

.promo-block-item-technics {
  background-color: var(--promo-block-pink);
  background-image: url(../img/technics.svg);
  background-size: 78px 62px;
}

.promo-block-item-sale {
  background-color: var(--promo-block-green);
  background-image: url(../img/sale.svg);
  background-size: 59px 72px;
}

.promo-block-item-delivery {
  background-color: var(--promo-block-dark-yellow);
  background-image: url(../img/delivery.svg);
  background-size: 78px 63px;
}

.promo-block-slider {
  background-color: var(--basic-grey);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.promo-block-slider-heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-block-slider-inscription {
  font-size: 18px;
  line-height: 24px;
}

/* Products */

.products,
.popular-manufacturers {
  margin-bottom: 70px;
}

.heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--darken-blue);
  padding: 0;
  margin: 0;
}

.section-title {
  background-color: var(--beige);
  padding-left: 28px;
  padding-right: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.products-list,
.catalog-products-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.catalog-products-list {
  grid-template-columns: 1fr 1fr 1fr;
}

.products-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: 700;
  background-color: var(--basic-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border: 1px solid var(--lighten-grey);
  box-sizing: border-box;
}

.products-item:hover,
.popular-manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px var(--shadow-color));
}

.product-image {
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.products-card-name {
  font-size: 18px;
  line-height: 20px;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  width: 185px;
}

.products-card-old-price,
.products-card-new-price {
  margin: 0;
  padding: 0;
}

.products-card-old-price {
  color: var(--basic-grey);
  text-decoration-line: line-through;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.products-card-new-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  background-image: 
    linear-gradient(225deg, var(--basic-white) 14%, transparent 14%),
    linear-gradient(315deg, var(--basic-white) 14%, transparent 14%);
  text-transform: uppercase;
  border-radius: 2px;

  display: flex;
  width: 150px;
  min-height: 38px;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  margin-left: 20px;
}

.products-card-buy-button {
  display: none;
}

.buy-button,
.bookmark-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
}

.buy-button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--darken-green);
  border: none;
}

.buy-button:hover {
  background-color: var(--light-green);
}

.buy-button:active {
  background-color: var(--dark-green);
}

.bookmark-button {
  color: var(--darken-blue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
}

.bookmark-button:hover {
  border-color: var(--darken-blue);
}

.bookmark-button:active {
  color: var(--silver);
  border-color: var(--silver);
}


/* Popular manufacturers*/

.popular-manufacturers-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-manufacturers-item-link {
  background: var(--basic-white);
  border: 1px solid var(--lighten-grey);

  height: 145px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-manufacturers-item:active {
  opacity: 0.5;
}

/* Services */

.services-bar,
.about-product {
  background-color: var(--lighten-blue);
}

.content-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.services {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.info-section-header {
  color: var(--basic-black);
  margin-bottom: 25px;
}

.about-services {
  display: flex;
  width: 400px;
  margin-bottom: 70px;
}

.slider-services {
  display: flex;
  min-height: 280px;
}

.slider-services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.slider-services-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--darken-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--extra-dark-blue);
  border: none;

  text-align: left;
  padding-left: 22px;
  width: 240px;
  min-height: 61px;
  margin-right: 80px;
}

.slider-services-delivery {
  color: var(--dark-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.slider-services-info {
  width: 100%;
  background-image: url("../img/delivery.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.slider-services-heading {
  margin-bottom: 30px;
}

.slider-services-button:hover {
  background-color: var(--dark-blue);
}

/* About company*/

.about-company {
  display: flex;
  margin: 70px 0;
}

.about-company-info {
  width: 460px;
  margin-right: 180px;
}

.transport-companies-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.about-company-button {
  width: 220px;
  margin-top: auto;
}

.transport-companies-item {
  font-size: 18px;
  line-height: 24px;
  list-style-image: url("../img/list-style.svg");
}

.map {
  margin-top: 32px;
  margin-bottom: 25px;
}

.contacts-button {
  width: 100%;
  margin-top: auto;
}

/* Footer */

.top-footer {
  display: grid;
  grid-template-columns: 321px 1fr;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--light-blue);
  background-color: var(--darken-blue);
}

.footer-navigation-list {
  display: flex;
  justify-content: flex-end;
}

.footer-navigation-item,
.footer-navigation-additional-item {
  padding-left: 60px;
}

.footer-navigation-item a,
.footer-contacts-info,
.footer-contacts-info-phone {
  color: var(--light-blue);
  margin: 0;
  padding: 0;
}

.footer-navigation-additional-item a,
.footer-feedback-link {
  color: var(--basic-yellow);
}

.footer-navigation-item a:hover,
.footer-navigation-additional-item a:hover,
.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active,
.footer-navigation-additional-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-social-button {
  background-color: var(--dark-navy-blue); 
}

.footer-social-button:hover,
.footer-social-button:active {
  background-color: var(--basic-red); 
}

.footer-feedback-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

.bottom-footer-bar {
  background-color: var(--dark-blue);
}

.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-feedback {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-feedback-text,
.footer-feedback-link {
  margin: 0;
  padding: 0;
}


/* Button */

.button {
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);

  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--dark-red);
}

.button:active {
  background-color: var(--darken-red);
}

.section-title-heading-button {
  width: 192px;
}

.contacts-button,
.modal-feedback-submit {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: none;
}

/* Modal windows */

.modal-feedback {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback-input {
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-grey);
  border: 2px solid var(--light-grey);
  border-radius: 2px;
}

/* Catalog */

.bread-crumbs-item,
.catalog-page-number-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-name {
  background-color: var(--light-navy-blue);
}

.catalog-page-number-item {
  border: 1px solid var(--dark-grey);
  border-radius: 2px;
}










